.days__title{
    background-color: #fff;
    padding: 15px 35px;
    font-size: 25px;
    border-radius: 20px;
    text-wrap: nowrap;
}

.days__list{
    margin-top: 40px;
    background-color: #fff;
    height: 410px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    border-radius: 20px;
    overflow-y: scroll;
}

.list__btn{
    background: transparent;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding: 7px 45px 0 12px;
    border-radius: 12.5px;
    border: none;
    width: 100%;
    &:hover, &:focus{
        background-color: #e4e4e4;
    }
    position: relative;
}
.days__list .temperature__text:after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-image: url('../../resources/day-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;;
}

::-webkit-scrollbar{
    display: none;
}