.days__title{
    background-color: #fff;
    padding: 15px 35px;
    font-size: 25px;
    border-radius: 20px;
    text-wrap: nowrap;
}

.days-list__wrapper{
    background-color: #fff;
    border-radius: 20px;
    padding: 15px 0 15px;
    margin-top: 40px;
}

.days__list{
    max-width: 220px;   
    height: 380px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    overflow-y: scroll;
}

.list__btn{
    background: transparent;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding: 7px 45px 7px 10px;
    border-radius: 12.5px;
    border: none;
    width: 100%;
    position: relative;
    border: 4px solid #fff;
    &:hover, &:focus {
        transform: none;
        background-color: #e4e4e4;
    }
}

.list__btn-active{
    border: 4px solid #e4e4e4;
}

.days__list .temperature__text:after{
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-image: url('../../resources/day-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;;
}

::-webkit-scrollbar {
    scrollbar-width: thin;
    width: 12px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #e4e4e4;
    border-radius: 20px;
  }